.portfolio-section {
    padding: 100px 60px 0 60px;
}

.portfolio-intro {
    font-family: 'Poppins', sans-serif;
}

.portfolio-section-intro {
    font-size: 36px;
}

.portfolio-swiper {
    width: 850px;
    height: 500px;
    margin-bottom: 60px;
}

.portfolio-slide {
    height: 350px;
    width: 400px !important;
    padding: 50px 50px 0 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 350px;
    opacity: 0.2;
    z-index: -1;
}

.project-img img {
    width: 350px;
    height: 300px;
}

.portfolio-dec {
    bottom: -90px;
    left: -40px;
}

/* Media query for responsive */

@media only screen and (max-width: 374px) {

    .portfolio-section {
        padding: 40px 10px 0 10px;
    }

    .portfolio-section-intro {
        font-size: 20px;
    }

    .portfolio-swiper {
        width: 250px !important;
        height: 260px !important;
        margin-bottom: 20px;
    }

    .portfolio-slide {
        height: 290px !important;
        width: 200px !important;
        padding: 30px 10px 0 10px;
    }

    .project-img img {
        width: 240px !important;
        height: 250px;

    }

    .portfolio-dec {
        color: white;
        bottom: 40px;
        left: 0;
        background-color: gray;
        padding: 9px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 480px) {

    .portfolio-section {
        padding: 60px 10px 0 10px;
    }

    .portfolio-section-intro {
        font-size: 22px;
    }

    .portfolio-swiper {
        width: 350px;
        height: 470px;
        margin-bottom: 40px;
    }

    .portfolio-slide {
        height: 350px;
        width: 300px !important;
        padding: 50px 10px 0 10px;
    }

    .project-img img {
        width: 300px;
        height: 300px;

    }

    .portfolio-dec {
        bottom: -80px;
        left: 0;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .portfolio-section {
        padding: 60px 20px 0 20px;
    }

    .portfolio-section-intro {
        font-size: 28px;
    }

    .portfolio-swiper {
        width: 430px;
        height: 470px;
        margin-bottom: 40px;
    }

    .portfolio-slide {
        height: 350px;
        width: 380px !important;
        padding: 50px 20px 0 20px;
    }

    .project-img img {
        width: 300px;
        height: 300px;

    }

    .portfolio-dec {
        bottom: -80px;
        left: -30px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .portfolio-section {
        padding: 80px 30px 0 30px;
    }

    .portfolio-swiper {
        width: 710px;
    }

}