.contact-container {
    padding: 100px 60px 60px 60px;
}

.contact-intro {
    font-family: 'Poppins', sans-serif;
}

.contact-section-intro {
    font-size: 36px;
}

.message-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form {
    width: 100%;
    padding: 40px;
}

.signature {
    font-family: 'Great Vibes', cursive;
}


/* Media query for responsive */
@media only screen and (max-width: 374px) {

    .contact-container {
        padding: 40px 10px 40px 10px;
    }

    .contact-section-intro {
        font-size: 20px;
    }

    .message-container {
        grid-template-columns: 1fr;
    }

    .contact-form {
        width: 250px;
        overflow: hidden;
        padding: 10px;
    }

}

@media only screen and (min-width: 375px) and (max-width: 480px) {

    .contact-container {
        padding: 60px 10px 40px 10px;
    }

    .contact-section-intro {
        font-size: 22px;
    }

    .message-container {
        grid-template-columns: 1fr;
    }

    .contact-form {
        width: 350px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .contact-container {
        padding: 80px 20px 40px 20px;
    }

    .contact-section-intro {
        font-size: 28px;
    }

    .message-container {
        grid-template-columns: 1fr;
    }

    .contact-form {
        width: 420px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .contact-container {
        padding: 80px 30px 60px 30px;
    }

}