.about-section {
    padding: 100px 60px 0 60px;
}

.about-intro {
    font-family: 'Poppins', sans-serif;
}

.about-section-intro {
    font-size: 36px;
}

.my-info {
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-slide-container {
    display: flex;
}

.cards-swiper {
    height: 240px !important;
    width: 190px !important;
}

.card-slide {
    height: 240px !important;
    width: 190px !important;
    color: #fff;
    border-radius: 10px;
}

.about-slide-p {
    margin-left: 50px;
}

/* Media query for responsive */
@media only screen and (max-width: 374px) {

    .about-section {
        padding: 40px 10px 0 10px;
        width: 100%;
    }

    .about-section-intro {
        font-size: 20px;
    }

    .my-info {
        width: 20px;
        font-size: 8px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .about-slide-container {
        flex-direction: column;
    }

    .cards-swiper {
        height: 140px !important;
        width: 100px !important;
    }

    .card-slide {
        height: 140px !important;
        width: 100px !important;
    }

    .about-slide-p {
        margin-top: 10px;
        margin-left: 0;
    }

}

@media only screen and (min-width: 375px) and (max-width: 480px) {

    .about-section {
        padding: 80px 10px 0 10px;
        width: 100%;
    }

    .about-section-intro {
        font-size: 22px;
    }

    .info-point {
        width: 30px;
    }

    .about-slide-container {
        flex-direction: column;
    }

    .about-slide-p {
        margin-top: 10px;
        margin-left: 0;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .about-section {
        padding: 80px 20px 0 20px;
    }

    .about-section-intro {
        font-size: 28px;
    }

    .info-point {
        width: 50px;
    }

    .about-slide-container {
        flex-direction: column;
    }

    .about-slide-p {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about-section {
        padding: 100px 30px 0 30px;
    }

    .info-point {
        width: 60px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
    .about-section {
        padding: 100px 60px 0 60px;
    }

    .info-point {
        width: 80px;
    }
}