.about-section {
    padding: 100px 60px 0 60px;
}

.about-intro {
    font-family: 'Sofia Sans', sans-serif;
}

.my-info {
    font-family: 'Sofia Sans', sans-serif;
}

.about-slide-container {
    display: flex;
}

.cards-swiper {
    height: 240px !important;
    width: 190px !important;
}

.card-slide {
    height: 240px !important;
    width: 190px !important;
    color: #fff;
    border-radius: 10px;
}

.about-slide-p {
    margin-left: 50px;
}

/* Media query for responsive */

@media only screen and (max-width: 480px) {
    .about-section {
        padding: 80px 10px 0 10px;
        width: 100%;
    }

    .info-point {
        width: 30px;
    }

    .about-slide-container {
        flex-direction: column;
    }

    .about-slide-p {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .about-section {
        padding: 80px 20px 0 20px;
    }

    .info-point {
        width: 50px;
    }

    .about-slide-container {
        flex-direction: column;
    }

    .about-slide-p {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about-section {
        padding: 100px 30px 0 30px;
    }

    .info-point {
        width: 60px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .about-section {
        padding: 100px 60px 0 60px;
    }

    .info-point {
        width: 80px;
    }
}